.app-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home-navbar{
  height: 20px;
  width: 100%;
  display: flex;
  background-color: pink;
  align-items: center;
}

.home-body{
  display: flex;
  flex-direction: row;
}

.home-left-div{
  background-color: red;
  height: 100vh;
  width: 80vh;
}

.home-right-div{
  background-color: blue;
  height: 100vh;
  width: 80vh;
}